
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes colored {
    0% {
        color: #64ffda;
    }

    100% {
        color: #ccd6f6;
    }
}

@keyframes cursor {
    0% { 
        opacity: 1; 
    }
    49% { 
        opacity: 1; 
    }
    50% { 
        opacity: 0; 
    }
    100% { 
        opacity: 0; 
    }
  }