
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes colored {
    0% {
        color: #64ffda;
    }

    100% {
        color: #ccd6f6;
    }
}

@keyframes typing {
    from { 
        width: 0 
    }
    to { 
        width: 100% 
    }
  }

  @keyframes blink {
    from { 
        border-color: transparent 
    }
    to { 
        border-color: #64ffda; 
    }
  }